/*General styles*/
* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	font: 1em/1.85em 'Open Sans', "Arial", sans-serif;
	height: 100%;
	word-wrap: break-word;
	line-height: 30px;
	min-width: 320px;
}

.row {
	min-width: 300px;
}
#about_wrap {
	padding-top: 0 !important;
	height: 100%
}

.white {
	color: white;
}

a {
	text-decoration: none;
}
.center {
	text-align: center;
}
.mb-30 {margin-bottom: 30px;}
.mb-10 {margin-bottom: 10px;}

/*Header styles*/
header {
	height: 100px;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    transition: all .3s ease-in-out;
}
	#header-row {
		padding-top: 1em;
		padding-right: 0;
	}
	/*Logo styles*/
	header #logo {
		font-size: 1.5em;
		text-decoration: none;
		position: absolute;
		font-weight: bold;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
		text-align: left;
		transform: translateY(50%); /*Fits text into screen size*/
	}
	#logo:hover {
    	color: #4d4d4d;
	}
	.logo-col {
		min-width: 100px;
		width: 10%;
	}

	/*Menu styles*/
	header #main-nav {
		float: left;
		margin-top: 13px;
		margin-right: 0;
		list-style: none;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		font-weight: bold;
	}
		header #main-nav li {
			min-width: 70px;
			text-align: center;
			display: inline-block;  /*makes the menu appear inside the parent element*/
			}

			header #main-nav li a { 
				color:white; 
			}
			#main_menu li a:hover {
    			color: #52e465;
			}
			#main_menu li a.active {
    			color: #52e465;
			}
	.resp-menu {
		display: none;
		float: left;
	}
	nav {
		display: none;
	}

/*Responsive menu*/
		/*
 * Made by Erik Terwan
 * 24th of November 2015
 * All rights reserved
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

	a
	{
	  transition: color 0.3s ease;
	}


	#menuToggle
	{
	  display: block;
	  position: relative;
	  top: 10px;
	  left: 2%;
	  
	  z-index: 1;
	  
	  -webkit-user-select: none;
	  user-select: none;
	}

	#menuToggle input
	{
	  display: block;
	  width: 768%;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -20px;
	  
	  cursor: pointer;
	  
	  opacity: 0; /* hide this */
	  z-index: 3; /* and place it over the hamburger */
	  
	  -webkit-touch-callout: none;
	}

	/*
	 * Just a quick hamburger
	 */
	#menuToggle span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  
	  background: white;
	  border-radius: 3px;
	  
	  z-index: 1;
	  
	  transform-origin: 4px 0px;
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}

	/* 
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: white;
	}

	/*
	 * But let's hide the middle one.
	 */
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	/*
	 * Ohyeah and the last one should go the other direction
	 */
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}

	/*
	 * Make this absolute positioned
	 * at the top left of the screen
	 */
	#menu2
	{
	  position: absolute;
	  width: 100%;
	  margin: -100px 0 70px -20px;
	  padding: 50px;
	  padding-top: -50px;
	  
	  background: #292929;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */
	  
	  transform-origin: 0% 0%;
	  transform: translate(0, -100%);
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu2 li
	{
	  padding: 10px 0;
	  font-size: 1.2em;
	  color: white;
	  text-align: center;
	}
	#menu2 a li:hover {
    		color: #4d4d4d;
		}

/*
 * And let's slide it in from the left
 */
	#menuToggle input:checked ~ #menu2
	{
	  transform: none;
	}

/*Section hero*/
	#hero {
	z-index: 1;
    background-image: url(../images/office.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 550px;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    transition: all .5s ease-out;
	}

	#hero .text {
		font-size: 3em;
		padding: 0;
		margin: 0;
		font-weight: bold;
		top: 350px;
		left: 0;
		position: absolute;
		text-align: left;
		line-height: 0.9;
	}
	#hero .column {
		padding-left: 0;
	} 
    #hero a:hover {
    	color: #4d4d4d;
	}
	/*Intro text*/
	section.intro-text {
		background-color: white;
		color: #666;
		margin-bottom: 30px;
    }
    section.intro-text > .row {
		padding-top: 6%;
    	padding-bottom: 4%;
    	padding-left: 0;
    	padding-right: 0;
    }

		section.intro-text img {
			vertical-align: top;
			border: none;
			max-width: 100%;
			position: relative;
			height: auto;
			margin: 0 auto;
		}

		section.intro-text .text {
			margin: 0 auto;
		}
			section.intro-text .text > h2 {
				font-weight: 900;
	    		color: #4d4d4d;
	    		font-size: 2em;
	    		letter-spacing: -.035em;
	    		margin: 0 0 .7em;
	    		line-height: 1em;
	    		word-wrap: normal;
	    		padding: 0;
			}

			section.intro-text .text > p {
				padding: 0;
    			margin: 0 0 2em;
    		}

    /*Section personal*/

   #personal {
   	color: #4d4d4d;
   }
   #personal .box {
		margin-bottom: 30px;
		min-height: 400px;
		padding: 20px;
		text-align: center;
	}

	#personal h2 {
		font-weight: 900;
	    color: #4d4d4d;
	    font-size: 2em;
	    letter-spacing: -.035em;
	    margin: 0 0 .7em;
	    line-height: 1em;
	    word-wrap: normal;
	    padding: 0;
	}

	#personal img {
		max-width: 400px;
		height: auto;
		position: relative;
		display: block;
		margin: 20px auto;
		padding: 20px;
	}

	/*Section Adress*/
	#adress {
		background-color: white;
		margin-bottom: 30px;
	}
		#adress .column {
			margin-bottom: 30px;
			margin-top: 30px;
		} 

		#adress h2 {
			font-size: 2em;
			font-weight: 900;
	    	color: #4d4d4d;
	    	letter-spacing: -.035em;
	    	margin: 0 0 .7em;
	    	line-height: 1em;
	    	word-wrap: normal;
		}

		#adress .map {
			padding: 0;
			width: 100%
		}

	/*Section contuct*/
	section.contact {
	background-color: white;
	color: #4d4d4d;
	margin-bottom: 30px;
}
	div#formwrap {
		border-radius: 4px;
		max-width: 600px;
		margin: 0 auto;
	}

	#form_content {
			padding: 20px;
	}
  
		section.contact h2 {
			padding-top: 60px;
			padding-bottom: 0;
			padding-left: 20px;
			padding-right: 20px;
			font-size: 2em;
			font-weight: 900;
	    	color: #4d4d4d;
	    	letter-spacing: -.035em;
		} 

	input {
		 outline: none;
		 transition: .2s all linear;
		 display: flex;
		 padding: 8px;
		 width: 100%;
		 margin: 10px 0;
	}
	textarea {
		 outline: none;
		 transition: .2s all linear;
		 display: flex;
		 padding: 8px;
		 width: 100%;
		 margin: 10px 0;
	}
	button.btn {
		 color: #4d4d4d;
		 border-radius: 5px;
		 font-size: 16px;
		 line-height: 100%;
		 padding: 5px 10px 5px 10px;
		 width: 8em;
	}


/*Footer styles*/
#footerwrap {
	background-color: #292929;
    clear: both;
    border-top: 1px solid rgba(0,0,0,.1);
    text-align: center;
    padding: 54px 0 2em;
    color: #000;
    min-height: 250px;
    color: white;
    text-align: left;
}
	#footer {
	    font-size: .9em;
	    line-height: 1.8em;
	    margin: 0 auto;
	}
	#footer a { 
		color:white; 
	}
	#footer i {
		padding-right: 10px;
	}

	a.btn-las-mer {
		color: white;
	}
	#footerwrap a:hover {
		color: #4d4d4d;
	}
	#footer button.btn {
		 color: #4d4d4d;
		 border-radius: 5px;
		 font-size: 16px;
		 line-height: 100%;
		 padding: 5px 10px 5px 10px;
		 width: 8em;
	}
	#footer input {
		max-width: 200px;
	}

	/*Media queries*/

	@media (max-width: 768px) {
		#header-row {
			margin-right: 0;
			margin-left: 0;
			width: 100%;
		}
		.resp-menu {
			display: block;
		}
		.menu {
			display: none;
		}
		#hero .text {
			font-size: 2em;
			top: 300px;
		}
		.row {
			margin-right: 0;
			margin-left: 0;
			width: 100%;
		}
		#hero {
			background-position: right center;
		}
		section.intro-text .text {
			padding-top: 20px;
		}
		#logo {
			display: none;
		}
		.logo-col {
			width: 100%;
		}
		nav {
			display: block;
		}
	}

	@media (max-width: 490px) {
		#hero {
			background-position: 70% center;
		}
		.row {
			padding: 0;
		}
		#personal .column {
			padding: 0;
		}
		#personal .box {
			padding-right: 0;
			padding-left: 0;
		}
		#personal img {
			padding-right: 0;
			padding-left: 0;
			max-width: 300px;
		}
		
	}