/***GLOBAL***/

main {
  margin: 0;
  padding: 0;
}
/****TEXT***/
.flex-container {
  margin: 60px 6em 75px 6em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-item1 {
  flex: 0 0 auto;
}

.flex-item1 h3 {
  font-weight: 600;
  font-size: 2em;
}

.flex-item1 p {
  display: inline-block;
  margin: 30px 0 0 0;
  max-width: 710px;
  line-height: 20px;
  letter-spacing: 0.25px;
  word-spacing: 1px;
  color: black;
}

/*** flex box bilder ***/
.flex-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 6em 0 6em;
}

.flex-item-one {
  padding: 0;
  flex: 0 0 45%;
  margin: 0 4.9em 0 0;
}

.flex-item-two{
  flex: 0 0 45%;
  padding: 0px 0 0 0;
  margin: 0px 0 0 0;
  text-align: left;
}
.flex-container2 img {
  width: 100%;
  margin: 0;
}


.flex-item-one p{
  float: right;
  position: relative;
  margin: -50px 35px 0 0;
  padding: 0;
}

.flex-item-two p {
  position: relative;
  float: right;
  margin: -50px 35px 0 0;
  padding: 0;
}
.flex-container2 p a {
  text-decoration: none;
  color: white;
  padding: 5px 8px;
  border: 0.5px solid white;
  border-radius: 2px;
}

.flex-container2 a:hover {
  transition: 0.2s linear;
  border: 0.5px solid rgba(82, 228, 101, 0.5);
  background-color:rgba(82, 228, 101, 0.5);
  color: white;
}



.buy-now {
  margin: 0;
  position: relative;
  color: white;
  font-size: 25px;
  top: 75px;
}

/**** MEDIA QUERIES****/
/**** MAX 976 - MIN 651 ****/
@media screen and (max-width: 1100px) and (min-width: 651px){
  .flex-container2 p a {
    font-size: 17.5px;
  }

  .flex-item-one {
    flex: 0 0 100%;

  }
  .flex-item-two{
    margin: 50px 0 0 0;
    flex: 0 0 100%;

  }
}

/**** MAX 650 - MIN ****/

@media screen and (max-width: 680px) and (min-width: 521px){
  .flex-container2 {
    margin: 0 2em 0 2em;
  }

  .flex-container {
    margin: 75px 2em 75px 2em;
  }
  .flex-item-one {
    flex: 0 0 100%;

  }
  .flex-item-two{
    margin: 50px 0 0 0;
    flex: 0 0 100%;

  }

  .flex-item1 h3 {
    font-weight: 600;
    font-size: 1.4em;
  }

  .flex-item1 p{
    max-width: 100%;
    font-size: 0.9em;
    color: black;
    line-height: 17.5px;
  }
}

@media screen and (max-width: 520px){
  .flex-container2 {
    margin: 0 2em 0 2em;
  }

  .flex-container {
    margin: 75px 2em 75px 2em;
  }
  .flex-item-one {
    flex: 0 0 100%;

  }
  .flex-item-two{
    margin: 50px 0 0 0;
    flex: 0 0 100%;

  }

  .flex-item1 h3 {
    font-weight: 600;
    font-size: 1em;
  }

  .flex-item1 p{
    margin-top: 20px;
    max-width: 100%;
    font-size: 0.7em;
    color: black;
    line-height: 15px;
  }
  .buy-now {
    font-size: 20px;
  }

  .flex-item-one p{
    float: right;
    position: relative;
    margin: -40px 25px 0 0;
    padding: 0;
  }

  .flex-item-two p {
    position: relative;
    float: right;
    margin: -40px 15px 0 0;
    padding: 0;
  }
}
