/***GLOBAL***/
main {
  margin: 0;
  padding: 0;
}

.flex-container {
  background-color: gren;
  margin: 75px 6em 75px 6em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-item1 {
  background-color: rd;
  flex: 0 0 auto;
}

.flex-item1 h3 {
  font-weight: normal;
  font-size: 35px;
  color: black;
}

.flex-item1 p {
  background-color: rd;
  display: inline-block;
  margin: 30px 0 0 0;
  max-width: 710px;
  line-height: 20px;
  letter-spacing: 0.25px;
  word-spacing: 1px;
}
.flex-container2 {
  background-color: gra;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item-one {
  float: right;
  background-color: lightgray;
  padding: 400px 0 0 0;
  flex: 0 0 40%;
  margin: 20px 1em 0 6em;
}

.flex-item-two{
  background-color: lightgray;
  flex: 0 0 40%;
  padding: 400px 0 0 0;
  margin: 20px 6em 0 1em;
}


.flex-item-one p{
  float: right;
  margin: 0 60px 30px 0;
}

.flex-item-two p{
  float: right;
  margin: 0 60px 30px 0;
}
.flex-container2 p a {
  text-decoration: none;
  color: black;
  padding: 5px 8px;
  border: 0.5px solid black;
  border-radius: 2px;
}

.flex-container2 a:hover {
  transition: 0.2s linear;
  background-color: #4f4f4f;
  color: white;
}
