/*
    Feather Blue #77C9D4
    Marine Green #57BC90
    Green #52e465
    Forest Green #015249
    Sleek Grey #A5A5AF
    Casual White #ccc
*/

body {
    background: #fcfcfc;
}

.header {
    height: 550px;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    z-index: -1;
    background-image: url(../images/mountain.jpeg);
}

nav {
    position: absolute;
    top: 4em;
    left: 6em;
}

nav li {
    padding-bottom: 0.5em;
    display: inline-block;
    margin-right: 1.5em;
}

nav li:first-of-type {
    margin-right: 3em;
}

nav li:hover {
    border-bottom: 2px solid #52e465;
}

nav li:first-of-type:hover {
    border-bottom: none;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 0.3em;
}

footer ul li:first-of-type {
    margin-bottom: 1em;
}

footer .flexContainer {
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

    width: 70%;
    margin-left: 15%;
}

footer .flexItem {
    flex: 0 0 auto;
    margin: 1em 3em;
}

footer {
    background: #52e465;
}
