/*
    Feather Blue #77C9D4
    Marine Green #57BC90
    Green #52e465
    Forest Green #015249
    Sleek Grey #A5A5AF
    Casual White #ccc
*/

body {
    background: #fcfcfc;
}

.header {
    height: 550px;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    z-index: -1;
    background-image: url(../images/bg2.png);
    background-position: 50% 50%;
    background-size: cover;
}

nav {
    width: 100%;
}

.desktop { 
    position: absolute;
    top: 4em;
    left: 6em;
}

.desktop li {
    padding-bottom: 0.5em;
    display: inline-block;
    margin-right: 1.5em;
}

.desktop li:first-of-type {
    margin-right: 3em;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 0.3em;
    padding-bottom: 0.5em;
}

footer ul li:first-of-type {
    margin-bottom: 1em;
}

footer .flexContainer {
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

    width: 70%;
    margin-left: 15%;
}

footer .flexItem {
    flex: 0 0 auto;
    margin: 2em 2em;
}

footer {
    background: rgb(12, 12, 12);
}

select {
    border: 1px solid #52e465;
}

select:focus {
    outline: 0;
}

.mobile {
    display: none;
}

@media screen and (max-width: 900px) {
    .header {
        height: 250px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}

.mobile h3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 3em;
}

.hamburger {
    width: 100%;
    position: absolute;
    padding-top: 1em;
    z-index: 1;
}

.hamburger p {
    padding-left: 0.1em;
    display: inline;
}

.hamburger input {
    display: block;
    width: 3.2em;
    height: 3.2em;
    padding-left: 1em;
    margin-left: 2em;
    position: absolute;

    opacity: 0;
    z-index: 2;
}

.hamburgerIcon {
    margin-left: 0.45em;
}

.hamburger ul {
    position: absolute;
    top: 0;
    z-index: -1;
    display: none;
    background: black;
    width: 100%;
}

.hamburger ul li {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.hamburger ul li a {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}

.hamburger input:checked ~ ul {
    display: block;
}


