.bg {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-top: 2em;
}

.bg > h2 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.bg p {
    line-height: 1.5em;
}

.container1, .container2, .container3, .container4, .container5, .container6, .container7 {
    margin-top: 1.5em;
    border-bottom: 2px solid #52e465;
    padding-bottom: 1em;
}

.container2 img, .container3 img, .container4 img, .container5 img, .container6 img, .container7 img {
    margin-top: 1em;
    width: 100%;
}

.container1 h3, .container2 h3, .container3 h3, .container4 h3, .container5 h3, .container6 h3, .container7 h3 {
    margin-bottom: 0.5em;
}
