       .bg {
            background-color: white;
            height: auto;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            
            
        }
       
                    
        .container1 {
                    display: block;
                    text-align: left;
                    float: inherit;
                    background-color: inherit;
                    color: black;
                    font-size: 20px;
                    font-family: sans-serif;
                    opacity: 0.7;
                    border-radius: 10px;
                    height: 100%;
                    width: 50%;
                     margin-left: 1%;
                    
                    
                }
        .container2 {
                    display: block;
                    float: inherit;
                    text-align: left;
                    background-color: inherit;
                    color: darkslategray;
                    font-size: 20px;
                    font-family: sans-serif;
                    opacity: 0.6;
                    height: 100%;
                    width: 50%;
                    border-radius: 10px;
                    margin-left: 1%;
                    
                
                    
                }
        .img1 img {
                    display: block;
                    float: inherit;
                    opacity: 1;
                    margin-left: 1%;
                    width: 30%;
                    height: auto;
                    
                    
            
            
                    }
        .container3 {
                    display: block;
                    float: inherit;
                    text-align: left;
                    background-color: inherit;
                    color: darkslategray;
                    font-size: 20px;
                    font-family: sans-serif;
                    opacity: 0.6;
                    height: 100%;
                    width: 50%;
                    border-radius: 10px;
                    margin-left: 1%;
                    
                    
                }
         .img2 img {
             display: block;
             float: inherit;
             opacity: 1;
             margin-left: 1%;
             width: 30%;
             height: 250px;
             align-content: left;
    
                }
         .container4 {
                    display: block;
                    float: inherit;
                    text-align: left;
                    background-color: inherit;
                    color: darkslategray;
                    font-size: 20px;
                    font-family: sans-serif;
                    opacity: 0.6;
                    height: 100%;
                    width: 50%;
                    border-radius: 10px;
                    margin-left: 1%;
                    
                }
        .img3 img {
             opacity: 1;
             margin-left: 1%;
             width: 30%;
             height: 300px;
    
                }
