main .flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;

    width: 70%;
    margin-left: 15%;
    margin-top: 2em;
}

main .flexItem {
    flex: 0 0 300px;
    margin: 10px;
    padding-bottom: 1em;
    border-bottom: 2px solid #52e465;
}

main .flexItem img {
    width: 90%;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

main .flexItem h3 {
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1.2em;
}

main .flexItem p {
    margin: 1em;
    margin-top: 0.5em;
    line-height: 1.5em;
}

main .flexItem button {
    transition: all 0.2s linear;
    height: 40px;
    width: 125px;
    
    color: #383838;
    background: #52e465;
    outline: 0;
    border: 0;
}

main .flexItem button:hover {
    transition: all 0.2s linear;
    background: #47c754;
    cursor: pointer;
}

main .price {
    float: left;
    margin-left: 1em;
}

main .buy {
    float: right;
    margin-right: 1em;
    font-weight: 600;
}

main h2 {
    font-size: 2em;
    margin-top: 2em;
    margin-left: 17%
}

.cart {
    width: 60%;
    margin-left: 20%;
    margin-top: 2em;
    background: black;
}

.cart a {
    float: right;
    font-size: 1.1em;
}

.search {
    width: 60%;
    margin-left: 20%;
    margin-top: 3em;
    margin-bottom: 2em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    border-bottom: 2px solid #52e465;
    padding-bottom: 1em;
}

.setting {
    flex: 0 0 auto;
    margin-left: 1em;
    margin-right: 1em;
}

.naga .name::after {
    content: "Razer Naga";
}

.naga .itemDescription::after {
    content: "The Razer Naga’s revolutionary 12 button thumb grid has been \
    outfitted with mechanical switches to give you tactile and audible feedback, so  \
    you can be assured of every actuation.";
}

.deathadder .name::after {
    content: "Razer DeathAdder";
}

.deathadder .itemDescription::after {
    content: "Equipped with the new esports-grade optical sensor that has true 16,000 DPI and \
    true tracking at 450 Inches Per Second (IPS), the Razer DeathAdder Elite gives you the \
    absolute advantage of having the fastest sensor in the world.";
}

.rival .name::after {
    content: "SteelSeries Rival";
}

.rival .itemDescription::after {
    content: "The Rival 300 optical gaming mouse brings together unmatched performance and \
    high levels of customization for the best professional-grade, right-handed gaming mouse.";
}

.sensei .name::after {
    content: "SteelSeries Sensei";
}

.sensei .itemDescription::after {
    content: "Sensei 310 signals the rebirth of an eSports legend. The custom TrueMove3 12,000 \
    CPI sensor was engineered specifically for eSports, giving you ultra-precise control and unmatched accuracy.";
}

form h3 {
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

form ul li {
    display: inline;
}


@media screen and (max-width: 900px) {
    form ul li {
        display: block;
    }
}

main a {
    transition: color 0.2s linear;
    color: #52e465;
    text-decoration: none;
}

main a:hover {
    transition: color 0.2s linear;
    color: #47c754;
}


.deals {
    width: 60%;
    margin-left: 20%;
}

.img1 {
    width: 60%;
    display: block;
    margin: 5em auto;
}

.img2 {
    width: 40%;
    display: block;
    margin: 0 auto;
}

.img3 {
    width: 40%;
    display: block;
    margin: 0 auto;
}