/*
    Feather Blue #77C9D4
    Marine Green #57BC90
    Green #52e465
    Forest Green #015249
    Sleek Grey #A5A5AF
    Casual White #ccc
*/

body {
    font-family: "Open Sans";
}

p, h1, h2, h3, h4 {
    color: #383838;
}

h3 {
    font-size: 1.2em;
}

h2 {
    font-size: 2em;
}

nav h3 {
    font-size: 2em;
}

nav h3 {
    color: #fcfcfc;
}

nav a {
    transition: color 0.2s linear;
    font-weight: 600;
    color: #fcfcfc;
    text-decoration: none;
}

nav a:hover {
    transition: color 0.2s linear;
    color: #52e465;
}

footer a {
    transition: color 0.2s linear;
    text-decoration: none;
}

footer p, footer h2, footer h3, footer a {
    color: #fcfcfc;
}

footer h3 {
    color: #383838;
}

footer a:hover {
    transition: color 0.2s linear;
    color: #52e465;
}