/*
    Feather Blue #77C9D4
    Marine Green #57BC90
    Green #52e465
    Forest Green #015249
    Sleek Grey #A5A5AF
    Casual White #ccc
*/

body {
    font-family: "Open Sans";
}

p, h1, h2, h3, h4 {
    color: #383838;
}

h3 {
    font-size: 1.2em;
}

h2 {
    font-size: 2em;
}

nav h3 {
    font-size: 2em;
}

nav h3 {
    color: white;
}

nav a {
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

footer a {
    color: #383838;
    text-decoration: none;
}